@model DelaWeb.ViewModels.CustomerDetailsViewModel
<div id="customerdetails-view">
    <div>
        <h4>Distribuidor</h4>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <hr />
        <div class="row">

            <div class="col-sm-8">
                <div class="row">

                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Customer.ID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Customer.ID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Customer.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Customer.Name)
                            </dd>
                            <dt>
                                Dirección
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Customer.Address1)
                            </dd>
                        </dl>
                    </div>

                    <div class="col-sm-6">
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Customer.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Customer.Phone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Customer.SponsorID)
                            </dt>

                            <dd>
                                @if (User.Identity.IsMaster())
                                {
                                    @Html.ActionLink(Model.Customer.SponsorID + " - " + Model.Sponsor.Name, "Details", "Customers", new { id = Model.Customer.SponsorID }, new { @class = "btn btn-link" })
                                }
                                else
                                {
                                    @(Model.Customer.SponsorID + " - " + Model.Customer.Name)
                                }
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Customer.CustomerType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Customer.CustomerType)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Customer.StartTime)
                            </dt>

                            <dd>
                                @(Model.Customer.StartTime.ToLongDateString())
                            </dd>
                        </dl>
                    </div>
                </div>

                <hr />
                <div>
                    <h3>Ordenes</h3>
                    <p>
                        @Html.ActionLink("Create New", "Create", "Orders", new { customerID = Model.Customer.ID }, new {  } )
                    </p>
                    <table class="table table-hover deli-table">
                        <tr class="">
                            <th>
                                Orden ID
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Total
                            </th>
                            <th>Acciones</th>
                        </tr>

                        @foreach (var item in Model.Orders.OrderByDescending(c=>c.Date))
                        {
                            <tr class="table-secondary">
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @item.Details.Sum(c => c.Quantity) items
                                </td>
                                <td>
                                    @item.Details.Sum(c => c.Price * c.Quantity)
                                </td>

                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |*@
                                    <a href="@Url.Action("Details", "Orders", new { id = item.OrderID })" ><i class="di-details"></i></a>
                                    @*@Html.ActionLink("", "Details", "Orders", new { id = item.OrderID }, new { @class="di-details" })*@
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.OrderID })*@
                                </td>
                            </tr>
                        }
                        @*@foreach (var item in Model.Invoices)
                            {
                                <tr class="table-dark">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Percentage)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Invoices", new { id = item.InvoiceID }, null) |
                                        @Html.ActionLink("Details", "Details", "Invoices", new { id = item.InvoiceID }, null) |
                                    </td>
                                </tr>
                            }*@

                    </table>
                </div>
            </div>
            <div class="col-sm-4">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">Primer Linea</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                        </tr>
                        @foreach (var item in Model.Childs)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
