@model DelaWeb.ViewModels.CustomerDetailsViewModel
<div id="customerdetails-view">
    <div>
        <h4>Distribuidor</h4>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.ID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.ID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.Address1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.Address1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.SponsorID)
                    </dt>

                    <dd>
                        @Html.ActionLink(Model.Customer.SponsorID + " - " + Model.Sponsor.Name, "Details", "Customers", new { id = Model.Customer.SponsorID }, new { @class = "btn btn-link" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.CustomerType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.CustomerType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Customer.StartTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Customer.StartTime)
                    </dd>

                </dl>
            </div>
            <div class="col-sm-4">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">Primer Linea</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                        </tr>
                        @foreach (var item in Model.Childs)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <br />
    <hr />
    <div>
        <h3>Ordenes</h3>
        <p>
            @Html.ActionLink("Create New", "Create", "Orders", new { customerID = Model.Customer.ID },null)
        </p>
        <table class="table table-hover">
            <tr class="">
                <th>
                    Orden ID
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @*@Html.Label(item.Details.Count.ToString())*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Details.Total)*@
                        0
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Other1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Other2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Other3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Other4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Other5)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
                    </td>
                </tr>
            }
            @*@foreach (var item in Model.Invoices)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Invoices", new { id = item.InvoiceID }, null) |
                    @Html.ActionLink("Details", "Details", "Invoices", new { id = item.InvoiceID }, null) |
                </td>
            </tr>
        }*@

        </table>
    </div>
</div>
