@model DelaWeb.ViewModels.CustomersViewModel
@{ 
    var isMaster = User.Identity.IsMaster();
}
<style>
    #customer-view .table-dark:hover{
        color: #808080;
    }
</style>
<div id="customer-view">
    @if (isMaster)
    {
        <p class="mt-2">
            @Html.ActionLink("+", "Create", null, new { @class = "btn btn-outline-success" })
        </p>
    }

    @Html.ActionLink("Ver Diagrama", "CustomersGraphic","Customers",null,null)
    @*<a href="@Url.Action("CreateAll")">Create all</a>*@
    <table class="table table-hover deli-table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>SponsorID</th>
            <th style="width:120px;">Acciones</th>
        </tr>

        @foreach (var item in Model.CustomersList)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SponsorID)
                </td>
                <td>
                    @if (isMaster) //Validating if it's master account
                    {
                        @*@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class="di-details" })  |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })*@
                        <a href="@Url.Action("Details","Customers",new { id = item.ID })"><i class="di-details"></i></a>
                        <a href="@Url.Action("Delete", "Customers",new { id = item.ID })"><i class="di-delete"></i></a>
                        @*@Html.ActionLink("RegisterOne", "RegisterOne", "Account", new { id = item.ID },null)*@
                    }
                </td>
            </tr>
        }

    </table>
</div>

<script>
    require(["jquery","ajax"], function ($,ajax) {

        var cont = 1;

        //$('#RegisterOne').on('click', function (e) {
        //    $(this).button('loading');
        //    var nombre = $('#Product option:selected').text();
        //    var code = $('#Product').val();
        //    var cant = $('#Cantidad').val();
        //    var prod = getProductInfo(code);

        //    var htm = "<tr data-item='" + cont + "'><td>" + cont + "</td><td>" + nombre + "</td><td>" + cant + "</td><td>" + prod.Price + "</td><td>" + prod.DiscountPrice + "</td><td><a class='remove-item' data-item='" + cont + "'>Quitar</a></td></tr>"
        //    $itemlist.append(htm);
        //    var json = { Index: cont, Code: code, Name: nombre, Quantity: cant };
        //    items.push(json);

        //    cont++;
        //});


    });
</script>