@model DelaWeb.Models.Order
@using DelaWeb.Helpers
@{
    ViewBag.Title = "Create";
    var redirectTo = ViewBag.RedirectTo;
    var customerID = ViewBag.CustomerID != null ? ViewBag.CustomerID : 0;
}

<style>
    #create-order-view table {
        text-align: center;
    }
    #create-order-view td {
        white-space: nowrap;
    }
    #create-order-view input{
        max-width: none;
    }
</style>
<div id="create-order-view">
    <h2 class="mt-5">Create Order</h2>

        <div class="mt-5">
            <div class="row">
                @Html.HiddenFor(c => c.CustomerID)
                @Html.HiddenFor(c => c.Type, new { Value = 1 })

                <div class="col-sm-6 form-group">
                    @Html.Label("Agregar Productos", htmlAttributes: new { @class = "control-label " })
                    <div class="row">
                        <div class="col-md-8 d-inline-block">
                            @*@Html.DropDownList("Product", Html.Products(), new { @class = "form-control", style = "max-width: none; width: 100%;" })*@
                            <select class="form-control" name="products" id="Product">
                                @foreach (var item in DelaWeb.Service.ProductsService.GetAllProducts())
                                {
                                    <option value="@item.ItemID" data-price="@item.Price"data-name="@item.Name">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2 d-inline-block">
                            @Html.TextBox("Cantidad", "1", new { @class = "form-control", type = "number" })
                        </div>
                        <div class="col-sm-2">
                            <a id="add-item" class="btn btn-secondary" data-loading-text="Agregando...">Agregar</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" id="item-list">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Dinamically Inyected-->
                        </tbody>
                    </table>

                    <div style="margin-top:50px"></div>

                    <div class="form-group col-md-12">
                        <input id="submit" type="submit" value="Crear Orden" class="btn btn-primary btn-block" />
                    </div>
                </div>

            </div>
        </div>
    @*}*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    var $context = $('#create-order-view');

        var cont = 1;
        var items = [];
        let customerDetailsUrl = '@Url.Action("Details","Customers",new { id = customerID })';
        let createOrderUrl = '@Url.Action("CreateOrder","Orders")';
        let getProductUrl = '@Url.Action("GetProductInfo","Products")';
        var $itemlist = $('#item-list tbody');

    $('#add-item').on('click', function (e) {
        $(this).button('loading');
        var nombre = $('#Product option:selected').data('name');
        var code = $('#Product option:selected').val();
        var cant = $('#Cantidad').val();
        var price = $('#Product option:selected').data('price');

        var htm = "<tr scope='row' data-item='" + cont + "'><td>" + code + "</td><td>" + nombre + "</td><td>" + cant + "</td><td>" + price + "</td><td><a class='remove-item' data-item='" + cont + "'>Quitar</a></td></tr>"
        $itemlist.append(htm);
        var json = { Index: cont, Code: code, Name: nombre, Quantity: cant };
        items.push(json);
        $(this).button('reset');
        $('#Cantidad').val(1);
        cont++;
    });

    $context.on('click', '.remove-item', function () {
        debugger;
        var id = $(this).data('item');
        $('tr[data-item="' + id + '"]').remove();

        for (var i = 0; i < items.length; i++) {
            if (id == items[i].Index) {
                items.splice(i,1);
                //items[i].Quantity = 0;
            }
        }
        console.log(items);
    });

    $("#submit").on("click", function () {
        var data = {};
        let customer = $('[name="CustomerID"').val();
        let type = $('[name="Type"').val();

        data.items = JSON.stringify(items);
        data.customerid = customer;
        data.type = type;

        $.ajax({
            type: "POST",
            url: createOrderUrl,
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: data, //JSON.stringify(data),
            success: function (d) {
                if (d.success == true) {
                    alert('Has introducido una nueva orden!!');
                    setTimeout(function () {
                        window.location = customerDetailsUrl;
                    }, 1000);
                }
                else {
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error!!');
            }
        });
    });

    //function getProductInfo(c) {

    //    $.ajax({
    //        type: "POST",
    //        url: getProductUrl,
    //        content: "application/json; charset=utf-8",
    //        dataType: "json",
    //        data: { itemCode: c },
    //        success: function (d) {
    //            if (d.success == true) {
    //                return d;
    //            }
    //            else {
    //                return false;
    //            }
    //        },
    //        error: function (xhr, textStatus, errorThrown) {
    //                return false;
    //        }
    //    });
    //}
</script>
}
