@model DelaWeb.ViewModels.OrdersViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista de ordenes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover deli-table">
    <tr>
        <th>
            OrderID
        </th>
        <th>
            Fecha de Orden
        </th>
        <th>
            Distribuidor
        </th>
        <th>
            Total (Items)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Orders) {
        <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @item.Total.ToString("C") (@item.Items)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }, new { }) |*@
                <a href="@Url.Action( "Edit", "Orders", new { id = item.OrderID })"><i class="di-edit"></i></a>

                @*@Html.ActionLink("Details",, new { id = item.OrderID },null)*@
                <a href="@Url.Action( "Details", "Orders", new { id = item.OrderID })"><i class="di-details"></i></a>
                @*@Html.ActionLink("Delete", "Delete", "Orders", null, new { id=item.OrderID })*@
            </td>
        </tr>
    }

</table>
