@model IEnumerable<DelaWeb.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other5)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other5)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
