@using App.Extensions
@{
    ViewBag.Title = "Home Page";
    //var isLogged = ((bool)(ViewBag.session ?? false));
    var isMaster = ((bool)(ViewBag.isMaster ?? false));
}

@if (User.Identity.IsAuthenticated)
{
    //var isMaster = User.Identity.IsMaster();

    <div class="row mt-5">
        <div class="offset-8 col-sm-4">
            <div class="transparent-div">
                <h4 class="text-center">ACCESO RAPIDO</h4>
                @if (isMaster)
                {
                    <div class="col-sm-12 pb-2"><a id="consultar-Orden"><i class="fa fa-details"></i>Consultar Orden por ID</a></div>

                }
                else
                {
                    <div class="col-sm-12 pb-2"><a href="@Url.Action("Create","Orders")">Crear una Orden</a></div>
                    <div class="col-sm-12 pb-2"><a href="@Url.Action("ChangePassword","Manage")">Cambiar Contraseña</a></div>
                    @*<div class="col-sm-12 pb-2"><a href="">Salir</a></div>*@
                }
            </div>
        </div>
    </div>

}
<div class="modal" id="order-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Introduce el ID de la Orden</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="orderid" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="consultar-orden">Consultar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_Deli")

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@

    @*<script>
        console.log(User.Identity.IsAuthenticated);
        console.log(User.Identity);
        $('#consultar-Orden').on('click', function () {
                (async () => {
                    const { value: orderid } = await Swal.fire({
                    title: 'Consultar orden',
                    input: 'text',
                    inputLabel: 'OrderID',
                    inputPlaceholder: 'Introduce el ID de la orden',
                    inputAttributes: {
                        maxlength: 10,
                        autocapitalize: 'off',
                        autocorrect: 'off'
                    }
                    });

                    if (orderid) {
                        console.log('@Html.Action("Details","Orders")' + "?id=" + orderid);
                        window.location = '@Url.Action("Details","Orders")' + "?id=" + orderid;
                    }
                })()

            });
        </script>*@
}
<script>
    require(["jquery"], function ($) {

        var isMaster = @isMaster.ToString().ToLower();
        @*if (isMaster) {

            $('#consultar-Orden').on('click', function () {
                (async () => {
                    const { value: orderid } = await Swal.fire({
                    title: 'Consultar orden',
                    input: 'text',
                    inputLabel: 'OrderID',
                    inputPlaceholder: 'Introduce el ID de la orden',
                    inputAttributes: {
                        maxlength: 10,
                        autocapitalize: 'off',
                        autocorrect: 'off'
                    }
                    });

                    if (orderid) {
                        console.log('@Html.Action("Details","Orders")' + "?id=" + orderid);
                        window.location = '@Url.Action("Details","Orders")' + "?id=" + orderid;
                    }
                })()
            });

            $('#consultar-orden').on('click', () => {
                var orderID= $('#orderid').val();
                if (orderID !== "" && orderID.isNumeric()) {
                    window.location = '@Url.Action("Details","Orders")' + '?id=' + orderID;
                }
            });
        }*@
    });

</script>