<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dela</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
            <a class="navbar-brand" href="#">Dela <img /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100">
                    <li class="nav-item @(ViewBag.Title=="Home Page" ?"active" :"")">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(Request.Url.AbsoluteUri.Contains("Customers") ?"active" :"")" href="@Url.Action("Index", "Customers")">Distribuidores</a>
                        </li>
                        //@if(Request.LogonUserIdentity)   Validating if it's a MasterUser
                        <li class="nav-item">
                            <a class="nav-link @(Request.Url.AbsoluteUri.Contains("Invoices") ?"active" :"")" href="@Url.Action("Index", "Invoices")">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Request.Url.AbsoluteUri.Contains("Ordenes") ?"active" :"")" href="@Url.Action("Ordenes", "Invoices")">Ordenes</a>
                        </li>
                    }

                    @Html.Partial("_LoginPartial")
                </ul>

                @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
    </div>
        </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dela Incorporation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
